#ifdef APSTUDIO_INVOKED
#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

#include <winresrc.h>

#include "..\..\resource.h"
#include "..\..\comdefs.h"


SE_IDD_SFXDIALOG DIALOGEX 12, 65, 315, 123
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            SE_IDI_ICON,IDC_ANIMATION,14,14,20,20,WS_GROUP
    LTEXT           "&Map waar bestanden uitgepakt worden:",IDC_TARGETPATH,51,6,187,8
    EDITTEXT        IDC_PATH,51,16,174,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSE,228,16,12,12
    DEFPUSHBUTTON   "",IDOK,254,8,50,14
    PUSHBUTTON      "Sluiten",IDCANCEL,254,27,50,14
    PUSHBUTTON      "",IDC_ABOUT,254,46,50,14
    LTEXT           "",IDC_TEXT,51,32,187,33
    LTEXT           "Bestand:",IDC_FILE,51,36,32,8
    CONTROL         "",IDC_FILENAME,"Static",SS_LEFTNOWORDWRAP | WS_GROUP,86,36,154,8
    CONTROL         "",IDC_PROGRESS,"Static",SS_WHITEFRAME,51,48,189,12
    LTEXT           "",IDC_VENDOR,10,67,194,8
    RTEXT           "",IDC_WEBLINK,204,67,100,8,SS_NOTIFY
    CONTROL         "",IDC_SEPARATOR,"Static",SS_ETCHEDHORZ | WS_GROUP,2,78,313,1
    EDITTEXT        IDC_ABOUTTEXT,8,82,296,40,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
END

IDD_OVERWRITE DIALOGEX 10, 10, 379, 77
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    RTEXT           "Bestand overschrijven:",-1,5,9,78,8
    LTEXT           "",IDC_TARGETNAME,87,9,281,8,SS_NOPREFIX | NOT WS_GROUP
    LTEXT           "",IDC_TARGETATTR,87,19,281,8,SS_NOPREFIX | NOT WS_GROUP
    RTEXT           "Met bestand:",IDC_WITHFILE,5,32,78,8,NOT WS_GROUP
    LTEXT           "",IDC_SOURCENAME,87,32,281,8,SS_NOPREFIX | NOT WS_GROUP
    LTEXT           "",IDC_SOURCEATTR,87,42,281,8,SS_NOPREFIX | NOT WS_GROUP
    DEFPUSHBUTTON   "&Ja",IDYES,34,56,55,14,WS_GROUP
    PUSHBUTTON      "&Alle",IDC_ALL,97,56,55,14
    PUSHBUTTON      "&Overslaan",IDC_SKIP,161,56,55,14
    PUSHBUTTON      "A&lle Oveslaan",IDC_SKIPALL,225,56,55,14
    PUSHBUTTON      "Annuleren",IDCANCEL,289,56,55,14
END

IDD_ERROR DIALOGEX 10, 10, 350, 67
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    RTEXT           "Naam:",-1,7,9,25,8
    LTEXT           "",IDC_FILENAME,39,9,301,8,SS_NOPREFIX | NOT WS_GROUP
    RTEXT           "Fout:",-1,7,22,25,8,NOT WS_GROUP
    LTEXT           "",IDC_ERROR,39,22,301,19,SS_NOPREFIX | NOT WS_GROUP
    PUSHBUTTON      "Opnieuw",IDC_RETRY,51,46,55,14
    PUSHBUTTON      "&Overslaan",IDC_SKIP,115,46,55,14,WS_GROUP
    PUSHBUTTON      "A&lle Oveslaan",IDC_SKIPALL,179,46,55,14
    PUSHBUTTON      "Annuleren",IDCANCEL,243,46,55,14
END

IDD_LONGMESSAGE DIALOGEX 27, 33, 280, 210
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "",IDOK,116,192,75,14
    PUSHBUTTON      "",IDCANCEL,195,192,75,14
    EDITTEXT        IDE_MESSAGE,10,10,260,169,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
    CONTROL         "",IDC_SEPARATOR,"Static",SS_ETCHEDHORZ | WS_GROUP,4,187,272,1
END

#ifdef EXT_VER

IDD_PASSWORD DIALOGEX 10, 10, 285, 77
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Wachtwoord"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Het bestand is versleuteld, geef aub wachtwoord in en druk OK.",-1,17,7,224,8,NOT WS_GROUP
    LTEXT           "Bestand:",-1,17,21,47,8,NOT WS_GROUP
    LTEXT           "",IDC_FILE,66,21,201,8,NOT WS_GROUP
    LTEXT           "&Wachtwoord:",-1,17,35,47,8
    EDITTEXT        IDC_PASSWORD,66,33,201,12,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,15,56,60,14,WS_GROUP
    PUSHBUTTON      "&Overslaan",IDC_SKIP,80,56,60,14
    PUSHBUTTON      "A&lle Overslaan",IDC_SKIPALL,145,56,60,14
    PUSHBUTTON      "Annuleren",IDCANCEL,210,56,60,14
END

#endif //EXT_VER
