#ifdef APSTUDIO_INVOKED
#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

#include <winresrc.h>

#include "..\..\resource.h"
#include "..\..\comdefs.h"


SE_IDD_SFXDIALOG DIALOGEX 12, 65, 335, 123
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            SE_IDI_ICON,IDC_ANIMATION,14,14,20,20,WS_GROUP
    LTEXT           "&Папка для извлечения файлов:",IDC_TARGETPATH,51,6,197,8
    EDITTEXT        IDC_PATH,51,16,184,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSE,238,16,12,12
    DEFPUSHBUTTON   "",IDOK,264,8,60,14
    PUSHBUTTON      "Закрыть",IDCANCEL,264,27,60,14
    PUSHBUTTON      "",IDC_ABOUT,264,46,60,14
    LTEXT           "",IDC_TEXT,51,32,197,33
    LTEXT           "Файл:",IDC_FILE,51,36,22,8
    CONTROL         "",IDC_FILENAME,"Static",SS_LEFTNOWORDWRAP | WS_GROUP,73,36,176,8
    CONTROL         "",IDC_PROGRESS,"Static",SS_WHITEFRAME,51,48,199,12
    LTEXT           "",IDC_VENDOR,10,67,204,8
    RTEXT           "",IDC_WEBLINK,214,67,100,8,SS_NOTIFY
    CONTROL         "",IDC_SEPARATOR,"Static",SS_ETCHEDHORZ | WS_GROUP,2,78,343,1
    EDITTEXT        IDC_ABOUTTEXT,8,82,316,40,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
END

IDD_OVERWRITE DIALOGEX 10, 10, 360, 77
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    RTEXT           "Заменить файл:",-1,5,9,59,8
    LTEXT           "",IDC_TARGETNAME,68,9,281,8,SS_NOPREFIX | NOT WS_GROUP
    LTEXT           "",IDC_TARGETATTR,68,19,281,8,SS_NOPREFIX | NOT WS_GROUP
    RTEXT           "Файлом:",IDC_WITHFILE,5,32,59,8,NOT WS_GROUP
    LTEXT           "",IDC_SOURCENAME,68,32,281,8,SS_NOPREFIX | NOT WS_GROUP
    LTEXT           "",IDC_SOURCEATTR,68,42,281,8,SS_NOPREFIX | NOT WS_GROUP
    DEFPUSHBUTTON   "&Да",IDYES,29,56,50,14,WS_GROUP
    PUSHBUTTON      "&Все",IDC_ALL,87,56,50,14
    PUSHBUTTON      "П&ропустить",IDC_SKIP,146,56,50,14
    PUSHBUTTON      "Пр&опустить все",IDC_SKIPALL,205,56,65,14
    PUSHBUTTON      "Отмена",IDCANCEL,279,56,50,14
END

IDD_ERROR DIALOGEX 10, 10, 358, 67
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    RTEXT           "Имя:",-1,8,9,32,8
    LTEXT           "",IDC_FILENAME,47,9,301,8,SS_NOPREFIX | NOT WS_GROUP
    RTEXT           "Ошибка:",-1,8,22,32,8,NOT WS_GROUP
    LTEXT           "",IDC_ERROR,47,22,301,19,SS_NOPREFIX | NOT WS_GROUP
    PUSHBUTTON      "Повторить",IDC_RETRY,57,46,50,14
    PUSHBUTTON      "П&ропустить",IDC_SKIP,116,46,50,14,WS_GROUP
    PUSHBUTTON      "Пр&опустить все",IDC_SKIPALL,175,46,65,14
    PUSHBUTTON      "Отмена",IDCANCEL,249,46,50,14
END

IDD_LONGMESSAGE DIALOGEX 27, 33, 310, 210
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "",IDOK,166,192,65,14
    PUSHBUTTON      "",IDCANCEL,235,192,65,14
    EDITTEXT        IDE_MESSAGE,10,10,290,169,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
    CONTROL         "",IDC_SEPARATOR,"Static",SS_ETCHEDHORZ | WS_GROUP,4,187,306,1
END

#ifdef EXT_VER

IDD_PASSWORD DIALOGEX 10, 10, 324, 77
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Пароль"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Архив зашифрован. Пожалуйста, введите пароль для расшифровки и нажмите ""OK"".",-1,17,7,296,8,NOT WS_GROUP
    LTEXT           "Файл:",-1,17,21,26,8,NOT WS_GROUP
    LTEXT           "",IDC_FILE,55,21,251,8,NOT WS_GROUP
    LTEXT           "&Пароль:",-1,17,35,36,8
    EDITTEXT        IDC_PASSWORD,55,33,251,12,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "ОК",IDOK,34,56,50,14,WS_GROUP
    PUSHBUTTON      "П&ропустить",IDC_SKIP,97,56,50,14
    PUSHBUTTON      "Пр&опустить все",IDC_SKIPALL,160,56,65,14
    PUSHBUTTON      "Отмена",IDCANCEL,238,56,50,14
END

#endif //EXT_VER
