#ifdef APSTUDIO_INVOKED
#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

#include <winresrc.h>

#include "..\..\resource.h"
#include "..\..\comdefs.h"


SE_IDD_SFXDIALOG DIALOGEX 12, 65, 305, 123
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            SE_IDI_ICON,IDC_ANIMATION,14,14,20,20,WS_GROUP
    LTEXT           "&Fájlok kitömörítési mappája:",IDC_TARGETPATH,51,6,167,8
    EDITTEXT        IDC_PATH,51,16,154,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSE,208,16,12,12
    DEFPUSHBUTTON   "",IDOK,234,8,60,14
    PUSHBUTTON      "Bezárás",IDCANCEL,234,27,60,14
    PUSHBUTTON      "",IDC_ABOUT,234,46,60,14
    LTEXT           "",IDC_TEXT,51,32,167,33
    LTEXT           "Fájl:",IDC_FILE,51,36,16,8
    CONTROL         "",IDC_FILENAME,"Static",SS_LEFTNOWORDWRAP | WS_GROUP,70,36,150,8
    CONTROL         "",IDC_PROGRESS,"Static",SS_WHITEFRAME,51,48,169,12
    LTEXT           "",IDC_VENDOR,10,67,179,8
    RTEXT           "",IDC_WEBLINK,189,67,105,8,SS_NOTIFY
    CONTROL         "",IDC_SEPARATOR,"Static",SS_ETCHEDHORZ | WS_GROUP,2,78,303,1
    EDITTEXT        IDC_ABOUTTEXT,8,82,286,40,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
END

IDD_OVERWRITE DIALOGEX 10, 10, 352, 77
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    RTEXT           "Felülírandó fájl:",-1,2,9,54,8
    LTEXT           "",IDC_TARGETNAME,60,9,281,8,SS_NOPREFIX | NOT WS_GROUP
    LTEXT           "",IDC_TARGETATTR,60,19,281,8,SS_NOPREFIX | NOT WS_GROUP
    RTEXT           "Ezzel:",IDC_WITHFILE,2,32,54,8,NOT WS_GROUP
    LTEXT           "",IDC_SOURCENAME,60,32,281,8,SS_NOPREFIX | NOT WS_GROUP
    LTEXT           "",IDC_SOURCEATTR,60,42,281,8,SS_NOPREFIX | NOT WS_GROUP
    DEFPUSHBUTTON   "Igen",IDYES,33,56,50,14,WS_GROUP
    PUSHBUTTON      "Mind",IDC_ALL,91,56,50,14
    PUSHBUTTON      "Kihagy",IDC_SKIP,150,56,50,14
    PUSHBUTTON      "Mind &kihagy",IDC_SKIPALL,209,56,50,14
    PUSHBUTTON      "Mégse",IDCANCEL,268,56,50,14
END

IDD_ERROR DIALOGEX 10, 10, 350, 67
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    RTEXT           "Név:",-1,11,9,21,8
    LTEXT           "",IDC_FILENAME,39,9,301,8,SS_NOPREFIX | NOT WS_GROUP
    RTEXT           "Hiba:",-1,11,22,21,8,NOT WS_GROUP
    LTEXT           "",IDC_ERROR,39,22,301,19,SS_NOPREFIX | NOT WS_GROUP
    PUSHBUTTON      "Újra",IDC_RETRY,58,46,50,14
    PUSHBUTTON      "Kihagy",IDC_SKIP,117,46,50,14,WS_GROUP
    PUSHBUTTON      "Mind &kihagy",IDC_SKIPALL,176,46,50,14
    PUSHBUTTON      "Mégse",IDCANCEL,235,46,50,14
END

IDD_LONGMESSAGE DIALOGEX 27, 33, 280, 210
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "",IDOK,166,192,50,14
    PUSHBUTTON      "",IDCANCEL,220,192,50,14
    EDITTEXT        IDE_MESSAGE,10,10,260,169,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
    CONTROL         "",IDC_SEPARATOR,"Static",SS_ETCHEDHORZ | WS_GROUP,4,187,272,1
END

#ifdef EXT_VER

IDD_PASSWORD DIALOGEX 10, 10, 274, 77
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Jelszó"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "A fájl titkosított. Adja meg a jelszót majd OK gomb.",-1,17,7,215,8,NOT WS_GROUP
    LTEXT           "Fájl:",-1,17,21,26,8,NOT WS_GROUP
    LTEXT           "",IDC_FILE,55,21,201,8,NOT WS_GROUP
    LTEXT           "Jelszó:",-1,17,35,36,8
    EDITTEXT        IDC_PASSWORD,55,33,201,12,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,17,56,50,14,WS_GROUP
    PUSHBUTTON      "Kihagy",IDC_SKIP,80,56,50,14
    PUSHBUTTON      "Mind &kihagy",IDC_SKIPALL,143,56,50,14
    PUSHBUTTON      "Mégse",IDCANCEL,206,56,50,14
END

#endif //EXT_VER
