#ifdef APSTUDIO_INVOKED
#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

#include <winresrc.h>

#include "..\..\resource.h"
#include "..\..\comdefs.h"


SE_IDD_SFXDIALOG DIALOGEX 12, 65, 318, 123
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            SE_IDI_ICON,IDC_ANIMATION,14,14,20,20,WS_GROUP
    LTEXT           "&Carpeta donde extraer ficheros:",IDC_TARGETPATH,51,6,180,8
    EDITTEXT        IDC_PATH,51,16,167,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSE,221,16,12,12
    DEFPUSHBUTTON   "",IDOK,247,8,60,14
    PUSHBUTTON      "Cerrar",IDCANCEL,247,27,60,14
    PUSHBUTTON      "",IDC_ABOUT,247,46,60,14
    LTEXT           "",IDC_TEXT,51,32,180,33
    LTEXT           "Fichero:",IDC_FILE,51,36,29,8
    CONTROL         "",IDC_FILENAME,"Static",SS_LEFTNOWORDWRAP | WS_GROUP,81,36,152,8
    CONTROL         "",IDC_PROGRESS,"Static",SS_WHITEFRAME,51,48,182,12
    LTEXT           "",IDC_VENDOR,10,67,183,8
    RTEXT           "",IDC_WEBLINK,193,67,114,8,SS_NOTIFY
    CONTROL         "",IDC_SEPARATOR,"Static",SS_ETCHEDHORZ | WS_GROUP,2,78,316,1
    EDITTEXT        IDC_ABOUTTEXT,8,82,299,40,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
END

IDD_OVERWRITE DIALOGEX 10, 10, 363, 77
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    RTEXT           "Sobreescribir el fichero:",-1,2,9,84,8
    LTEXT           "",IDC_TARGETNAME,90,9,271,8,SS_NOPREFIX | NOT WS_GROUP
    LTEXT           "",IDC_TARGETATTR,90,19,271,8,SS_NOPREFIX | NOT WS_GROUP
    RTEXT           "Con el fichero:",IDC_WITHFILE,2,32,84,8,NOT WS_GROUP
    LTEXT           "",IDC_SOURCENAME,90,32,271,8,SS_NOPREFIX | NOT WS_GROUP
    LTEXT           "",IDC_SOURCEATTR,90,42,271,8,SS_NOPREFIX | NOT WS_GROUP
    DEFPUSHBUTTON   "&Sí",IDYES,39,56,50,14,WS_GROUP
    PUSHBUTTON      "&Todos",IDC_ALL,97,56,50,14
    PUSHBUTTON      "&Saltar",IDC_SKIP,156,56,50,14
    PUSHBUTTON      "S&altar todos",IDC_SKIPALL,215,56,50,14
    PUSHBUTTON      "Cancelar",IDCANCEL,274,56,50,14
END

IDD_ERROR DIALOGEX 10, 10, 350, 67
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    RTEXT           "Nombre:",-1,4,9,31,8
    LTEXT           "",IDC_FILENAME,42,9,301,8,SS_NOPREFIX | NOT WS_GROUP
    RTEXT           "Error:",-1,4,22,31,8,NOT WS_GROUP
    LTEXT           "",IDC_ERROR,42,22,301,19,SS_NOPREFIX | NOT WS_GROUP
    PUSHBUTTON      "Reintentar",IDC_RETRY,61,46,50,14
    PUSHBUTTON      "&Saltar",IDC_SKIP,120,46,50,14,WS_GROUP
    PUSHBUTTON      "S&altar todos",IDC_SKIPALL,179,46,50,14
    PUSHBUTTON      "Cancelar",IDCANCEL,238,46,50,14
END

IDD_LONGMESSAGE DIALOGEX 27, 33, 280, 210
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "",IDOK,115,192,75,14
    PUSHBUTTON      "",IDCANCEL,195,192,75,14
    EDITTEXT        IDE_MESSAGE,10,10,260,169,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
    CONTROL         "",IDC_SEPARATOR,"Static",SS_ETCHEDHORZ | WS_GROUP,4,187,272,1
END

#ifdef EXT_VER

IDD_PASSWORD DIALOGEX 10, 10, 274, 77
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Contraseña"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "El fichero está encriptado; escriba la contraseña y pulse Correcto.",-1,15,7,241,8,NOT WS_GROUP
    LTEXT           "Fichero:",-1,15,21,28,8,NOT WS_GROUP
    LTEXT           "",IDC_FILE,47,21,209,8,NOT WS_GROUP
    LTEXT           "&Contraseña:",-1,15,35,44,8
    EDITTEXT        IDC_PASSWORD,60,33,196,12,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Correcto",IDOK,17,56,50,14,WS_GROUP
    PUSHBUTTON      "&Saltar",IDC_SKIP,80,56,50,14
    PUSHBUTTON      "S&altar todos",IDC_SKIPALL,143,56,50,14
    PUSHBUTTON      "Cancelar",IDCANCEL,206,56,50,14
END

#endif //EXT_VER
