#ifdef APSTUDIO_INVOKED
#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

#include <winresrc.h>

#include "..\..\resource.h"
#include "..\..\comdefs.h"


SE_IDD_SFXDIALOG DIALOGEX 12, 65, 300, 123
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            SE_IDI_ICON,IDC_ANIMATION,14,14,20,20,WS_GROUP
    LTEXT           "解压文件的目标文件夹(&F):",IDC_TARGETPATH,51,6,167,8
    EDITTEXT        IDC_PATH,51,16,154,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSE,208,16,12,12
    DEFPUSHBUTTON   "",IDOK,234,8,55,14
    PUSHBUTTON      "关闭",IDCANCEL,234,27,55,14
    PUSHBUTTON      "",IDC_ABOUT,234,46,55,14
    LTEXT           "",IDC_TEXT,51,32,167,33
    LTEXT           "文件:",IDC_FILE,51,36,24,8
    CONTROL         "",IDC_FILENAME,"Static",SS_LEFTNOWORDWRAP | WS_GROUP,76,36,149,8
    CONTROL         "",IDC_PROGRESS,"Static",SS_WHITEFRAME,51,48,169,12
    LTEXT           "",IDC_VENDOR,10,67,174,8
    RTEXT           "",IDC_WEBLINK,184,67,105,8,SS_NOTIFY
    CONTROL         "",IDC_SEPARATOR,"Static",SS_ETCHEDHORZ | WS_GROUP,2,78,293,1
    EDITTEXT        IDC_ABOUTTEXT,8,82,281,40,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
END

IDD_OVERWRITE DIALOGEX 10, 10, 350, 77
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    RTEXT           "覆盖文件:",-1,5,9,50,8
    LTEXT           "",IDC_TARGETNAME,59,9,281,8,SS_NOPREFIX | NOT WS_GROUP
    LTEXT           "",IDC_TARGETATTR,59,19,281,8,SS_NOPREFIX | NOT WS_GROUP
    RTEXT           "用文件:",IDC_WITHFILE,5,32,50,8,NOT WS_GROUP
    LTEXT           "",IDC_SOURCENAME,59,32,281,8,SS_NOPREFIX | NOT WS_GROUP
    LTEXT           "",IDC_SOURCEATTR,59,42,281,8,SS_NOPREFIX | NOT WS_GROUP
    DEFPUSHBUTTON   "是(&Y)",IDYES,18,56,57,14,WS_GROUP
    PUSHBUTTON      "全部(&A)",IDC_ALL,82,56,57,14
    PUSHBUTTON      "跳过(&S)",IDC_SKIP,146,56,57,14
    PUSHBUTTON      "跳过全部(&K)",IDC_SKIPALL,210,56,57,14
    PUSHBUTTON      "取消",IDCANCEL,274,56,57,14
END

IDD_ERROR DIALOGEX 10, 10, 350, 67
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    RTEXT           "名称:",-1,6,9,26,8
    LTEXT           "",IDC_FILENAME,39,9,301,8,SS_NOPREFIX | NOT WS_GROUP
    RTEXT           "错误:",-1,6,22,26,8,NOT WS_GROUP
    LTEXT           "",IDC_ERROR,39,22,301,19,SS_NOPREFIX | NOT WS_GROUP
    PUSHBUTTON      "重试",IDC_RETRY,50,46,57,14
    PUSHBUTTON      "跳过(&S)",IDC_SKIP,114,46,57,14,WS_GROUP
    PUSHBUTTON      "跳过全部(&K)",IDC_SKIPALL,178,46,57,14
    PUSHBUTTON      "取消",IDCANCEL,242,46,57,14
END

IDD_LONGMESSAGE DIALOGEX 27, 33, 280, 210
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "",IDOK,152,192,57,14
    PUSHBUTTON      "",IDCANCEL,213,192,57,14
    EDITTEXT        IDE_MESSAGE,10,10,260,169,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
    CONTROL         "",IDC_SEPARATOR,"Static",SS_ETCHEDHORZ | WS_GROUP,4,187,272,1
END

#ifdef EXT_VER

IDD_PASSWORD DIALOGEX 10, 10, 274, 77
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "密码"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "文件已被加密，请输入密码并点击确定。",-1,17,7,238,8,NOT WS_GROUP
    LTEXT           "文件:",-1,17,21,24,8,NOT WS_GROUP
    LTEXT           "",IDC_FILE,44,21,213,8,NOT WS_GROUP
    LTEXT           "密码(&P):",-1,17,35,33,8
    EDITTEXT        IDC_PASSWORD,52,33,204,12,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "确定",IDOK,12,56,57,14,WS_GROUP
    PUSHBUTTON      "跳过(&S)",IDC_SKIP,76,56,57,14
    PUSHBUTTON      "跳过全部(&K)",IDC_SKIPALL,140,56,57,14
    PUSHBUTTON      "取消",IDCANCEL,204,56,57,14
END

#endif //EXT_VER
