#ifdef APSTUDIO_INVOKED
#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

#include <winresrc.h>

#include "..\..\resource.h"
#include "..\..\comdefs.h"


SE_IDD_SFXDIALOG DIALOGEX 12, 65, 295, 123
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            SE_IDI_ICON,IDC_ANIMATION,14,14,18,20,WS_GROUP
    LTEXT           "&Dateien in angegebenes Verzeichnis entpacken:",IDC_TARGETPATH,51,6,170,8
    EDITTEXT        IDC_PATH,51,16,154,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSE,208,16,12,12
    DEFPUSHBUTTON   "",IDOK,230,8,55,14
    PUSHBUTTON      "Schließen",IDCANCEL,230,27,55,14
    PUSHBUTTON      "",IDC_ABOUT,230,46,55,14
    LTEXT           "",IDC_TEXT,51,32,167,33
    LTEXT           "Datei:",IDC_FILE,51,36,26,8
    CONTROL         "",IDC_FILENAME,"Static",SS_LEFTNOWORDWRAP | WS_GROUP,79,36,141,8
    CONTROL         "",IDC_PROGRESS,"Static",SS_WHITEFRAME,51,48,169,12
    LTEXT           "",IDC_VENDOR,10,67,174,8
    RTEXT           "",IDC_WEBLINK,185,67,100,8,SS_NOTIFY
    CONTROL         "",IDC_SEPARATOR,"Static",SS_ETCHEDHORZ | WS_GROUP,2,78,293,1
    EDITTEXT        IDC_ABOUTTEXT,8,82,276,40,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
END

IDD_OVERWRITE DIALOGEX 10, 10, 366, 77
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    RTEXT           "Überschreibe Datei:",-1,2,9,66,8
    LTEXT           "",IDC_TARGETNAME,72,9,290,8,SS_NOPREFIX | NOT WS_GROUP
    LTEXT           "",IDC_TARGETATTR,72,19,290,8,SS_NOPREFIX | NOT WS_GROUP
    RTEXT           "Mit Datei:",IDC_WITHFILE,2,32,66,8,NOT WS_GROUP
    LTEXT           "",IDC_SOURCENAME,72,32,290,8,SS_NOPREFIX | NOT WS_GROUP
    LTEXT           "",IDC_SOURCEATTR,72,42,290,8,SS_NOPREFIX | NOT WS_GROUP
    DEFPUSHBUTTON   "&Ja",IDYES,10,56,65,14,WS_GROUP
    PUSHBUTTON      "&Alle",IDC_ALL,80,56,65,14
    PUSHBUTTON      "Ü&berspringen",IDC_SKIP,150,56,65,14
    PUSHBUTTON      "Alle über&springen",IDC_SKIPALL,220,56,65,14
    PUSHBUTTON      "Abbrechen",IDCANCEL,290,56,65,14
END

IDD_ERROR DIALOGEX 10, 10, 350, 67
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    RTEXT           "Datei:",-1,5,9,27,8
    LTEXT           "",IDC_FILENAME,39,9,301,8,SS_NOPREFIX | NOT WS_GROUP
    RTEXT           "Fehler:",-1,5,22,27,8,NOT WS_GROUP
    LTEXT           "",IDC_ERROR,39,22,301,19,SS_NOPREFIX | NOT WS_GROUP
    PUSHBUTTON      "&Wiederholen",IDC_RETRY,36,46,65,14
    PUSHBUTTON      "Ü&berspringen",IDC_SKIP,107,46,65,14,WS_GROUP
    PUSHBUTTON      "Alle über&springen",IDC_SKIPALL,178,46,65,14
    PUSHBUTTON      "Abbrechen",IDCANCEL,249,46,65,14
END

IDD_LONGMESSAGE DIALOGEX 27, 33, 280, 210
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "",IDOK,126,192,70,14
    PUSHBUTTON      "",IDCANCEL,200,192,70,14
    EDITTEXT        IDE_MESSAGE,10,10,260,169,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
    CONTROL         "",IDC_SEPARATOR,"Static",SS_ETCHEDHORZ | WS_GROUP,4,187,272,1
END

#ifdef EXT_VER

IDD_PASSWORD DIALOGEX 10, 10, 289, 77
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Passwort"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Datei ist gesichert, bitte Passwort eingeben und OK drücken",-1,15,7,269,8,NOT WS_GROUP
    LTEXT           "Datei:",-1,15,21,28,8,NOT WS_GROUP
    LTEXT           "",IDC_FILE,55,21,232,8,NOT WS_GROUP
    LTEXT           "&Passwort:",-1,15,35,38,8
    EDITTEXT        IDC_PASSWORD,55,33,227,12,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,7,56,65,14,WS_GROUP
    PUSHBUTTON      "Ü&berspringen",IDC_SKIP,77,56,65,14
    PUSHBUTTON      "Alle über&springen",IDC_SKIPALL,147,56,65,14
    PUSHBUTTON      "Abbrechen",IDCANCEL,217,56,65,14
END

#endif //EXT_VER
