#include "Salamander.rh"

#include "..\\resource\\TextsCore1.rc"
#include "..\\resource\\TextsCore2.rc"
#include "..\\resource\\TextsWin1.rc"
#include "..\\resource\\TextsWin2.rc"
#include "SalamanderTexts.rc"

IDD_PROGRESS DIALOG 0, 0, 210, 99
  STYLE 0x4L | WS_POPUP | WS_VISIBLE | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
  CAPTION "Progress X"
  FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "File:", IDC_PROGRESS_FILE_LABEL_LABEL, 5,5,30,8
  LTEXT "", IDC_PROGRESS_FILE_LABEL, 35,5,170,8
  LTEXT "Target:", IDC_PROGRESS_TARGET_PATH_LABEL_LABEL, 5,15,30,8
  LTEXT "", IDC_PROGRESS_TARGET_PATH_LABEL, 35,15,170,8
  CONTROL "", IDC_PROGRESS_FILE_PROGRESS, "STATIC", WS_CHILD | WS_VISIBLE, 5, 25, 200, 11

  LTEXT "Time left:", IDC_PROGRESS_TIME_LABEL_LABEL, 5,43,55,8
  RTEXT "00:00:00", IDC_PROGRESS_TIME_LABEL, 60,43,47,8
  LTEXT "Bytes transferred:", IDC_PROGRESS_BYTES_TRANSFERRED_LABEL_LABEL, 5,53,55,8
  RTEXT "0 KiB", IDC_PROGRESS_BYTES_TRANSFERRED_LABEL, 60,53,47,8

  LTEXT "Time elapsed:", IDC_PROGRESS_TIME_ELAPSED_LABEL_LABEL, 113,43,45,8
  RTEXT "00:00:00", IDC_PROGRESS_TIME_ELAPSED_LABEL, 158,43,45,8
  LTEXT "Speed:", IDC_PROGRESS_CPS_LABEL_LABEL, 113,53,45,8
  RTEXT "0 KiB/s", IDC_PROGRESS_CPS_LABEL, 158,53,45,8

  CONTROL "", IDC_PROGRESS_OPERATION_PROGRESS, "STATIC", WS_CHILD | WS_VISIBLE, 5, 65, 200, 11

  PUSHBUTTON "Cancel", IDCANCEL, 155,80,50,16
END

IDD_PASSWORD DIALOG 0, 0, 268, 50
  STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
  CAPTION "Password X"
  FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Password X", IDC_PASSWORD_LABEL, 5,5,257,8, WS_CLIPSIBLINGS | ES_PASSWORD
  EDITTEXT IDC_PASSWORD_EDIT, 5, 15, 257, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP | ES_PASSWORD
  DEFPUSHBUTTON "OK", IDOK, 155,30,51,15
  PUSHBUTTON "Cancel",IDCANCEL, 212,30,51,15
END
