#include "Salamander.rh"

STRINGTABLE
BEGIN
  SAL_PLUGIN_NAME, "WinSCP (SFTP/SCP Client)"
  SAL_FS_NAME, "\tSFTP/SCP Client (WinSCP)"
  SAL_PLUGIN_DESCRIPTION, "SFTP/SCP client for Open Salamander"
  SAL_PATH_NOT_SUPPORTED, "Plugin cannot work with path '%s'."
  SAL_DISCONNECT, "&Disconnect"
  SAL_DISCONNECT_F12, "&Disconnect...\tF12"
  SAL_OWNER_COL, "Owner"
  SAL_OWNER_DESC, "File owner"
  SAL_GROUP_COL, "Group"
  SAL_GROUP_DESC, "File group"
  SAL_RIGHTS_COL, "Rights"
  SAL_RIGHTS_DESC, "File access permissions"
  SAL_CONNECT, "&Connect to Server..."
  SAL_CONFIRM_DETACH, "You are leaving SFTP/SCP server in panel. Do you wish to disconnect or to keep connection to this server?\n \nIf you choose Keep, you can access this connection from the Change Drive menu later."
  SAL_FULL_SYNCHRONIZE, "&Synchronize..."
  SAL_PENDING_QUEUE_ITEMS, "You are about to close WinSCP plugin, while having some background transfers in progress. Do you wish to disconnect anyway or to keep connection to this server?\n \nWarning: Pressing 'Disconnect' will terminate all transfers immediatelly."
  SAL_CONFIGURE, "&Configure..."
  SAL_MOVE_TO, "&Intra-server Move..."
  SAL_DETACH_KEEP, "&Keep"
  SAL_DETACH_DISCONNECT, "&Disconnect"
  SAL_SYNCHRONIZE, "&Keep Remote Directory Up To Date..."
  SAL_COPY_TO, "Du&plicate..."
  SAL_LINK_TO_COL, "Link target"
  SAL_LINK_TO_DESC, "Symbolic link target path"
  SAL_CONFIRM_DETACH_NEVER, "&Always choose Keep"
  SAL_SECURE, "The Communication is Encrypted (%s)"
  SAL_NO_HELP, "Sorry, no help is provided for this message."

  SAL_PROGRESS_FILE_LABEL, "File:"
  SAL_PROGRESS_TARGET_PATH_LABEL, "Target:"
  SAL_PROGRESS_TIME_LEFT_LABEL, "Time left:"
  SAL_PROGRESS_START_TIME_LABEL, "Start time:"
  SAL_PROGRESS_BYTES_TRANSFERRED_LABEL, "Bytes transferred:"
  SAL_PROGRESS_TIME_ELAPSED_LABEL, "Time elapsed:"
  SAL_PROGRESS_SPEED_LABEL, "Speed:"

  SAL_HOMEPAGE, "http://winscp.net/eng/docs/salamander"
END
