name: clang-format Check
on:
  pull_request:
    branches:
      - main
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run clang-format style check for C/C++.
        uses: jidicula/clang-format-action@v5.2.0
        with:
          clang-format-version: '16'
          check-path: .