#ifdef APSTUDIO_INVOKED
#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

#include <winresrc.h>

#include "..\..\resource.h"
#include "..\..\comdefs.h"


SE_IDD_SFXDIALOG DIALOGEX 12, 65, 302, 123
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            SE_IDI_ICON,IDC_ANIMATION,14,14,20,20,WS_GROUP
    LTEXT           "&Director io care sa extragi fisierele:",IDC_TARGETPATH,51,6,174,8
    EDITTEXT        IDC_PATH,51,16,161,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSE,215,16,12,12
    DEFPUSHBUTTON   "",IDOK,241,8,50,14
    PUSHBUTTON      "Anuleaza",IDCANCEL,241,27,50,14
    PUSHBUTTON      "",IDC_ABOUT,241,46,50,14
    LTEXT           "",IDC_TEXT,51,32,174,33
    LTEXT           "Fisier:",IDC_FILE,51,36,22,8
    CONTROL         "",IDC_FILENAME,"Static",SS_LEFTNOWORDWRAP | WS_GROUP,75,36,152,8
    CONTROL         "",IDC_PROGRESS,"Static",SS_WHITEFRAME,51,48,176,12
    LTEXT           "",IDC_VENDOR,10,67,178,8
    RTEXT           "",IDC_WEBLINK,188,67,103,8,SS_NOTIFY
    CONTROL         "",IDC_SEPARATOR,"Static",SS_ETCHEDHORZ | WS_GROUP,2,78,300,1
    EDITTEXT        IDC_ABOUTTEXT,8,82,283,40,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
END

IDD_OVERWRITE DIALOGEX 10, 10, 363, 77
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    RTEXT           "Suprascriu fisierul:",-1,5,9,62,8
    LTEXT           "",IDC_TARGETNAME,71,9,281,8,SS_NOPREFIX | NOT WS_GROUP
    LTEXT           "",IDC_TARGETATTR,71,19,281,8,SS_NOPREFIX | NOT WS_GROUP
    RTEXT           "cu fisierul:",IDC_WITHFILE,5,32,62,8,NOT WS_GROUP
    LTEXT           "",IDC_SOURCENAME,71,32,281,8,SS_NOPREFIX | NOT WS_GROUP
    LTEXT           "",IDC_SOURCEATTR,71,42,281,8,SS_NOPREFIX | NOT WS_GROUP
    DEFPUSHBUTTON   "&Da",IDYES,33,56,50,14,WS_GROUP
    PUSHBUTTON      "&Tot",IDC_ALL,91,56,50,14
    PUSHBUTTON      "&Sari Peste",IDC_SKIP,149,56,50,14
    PUSHBUTTON      "S&ari Peste Tot All",IDC_SKIPALL,207,56,65,14
    PUSHBUTTON      "Anuleaza",IDCANCEL,280,56,50,14
END

IDD_ERROR DIALOGEX 10, 10, 350, 67
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    RTEXT           "Nume:",-1,5,9,27,8
    LTEXT           "",IDC_FILENAME,39,9,301,8,SS_NOPREFIX | NOT WS_GROUP
    RTEXT           "Eroare:",-1,5,22,27,8,NOT WS_GROUP
    LTEXT           "",IDC_ERROR,39,22,301,19,SS_NOPREFIX | NOT WS_GROUP
    PUSHBUTTON      "Mai Incearca",IDC_RETRY,51,46,55,14
    PUSHBUTTON      "&Sari Peste",IDC_SKIP,115,46,55,14,WS_GROUP
    PUSHBUTTON      "S&ari Peste Tot",IDC_SKIPALL,179,46,55,14
    PUSHBUTTON      "Anuleaza",IDCANCEL,243,46,55,14
END

IDD_LONGMESSAGE DIALOGEX 27, 33, 280, 210
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "",IDOK,115,192,75,14
    PUSHBUTTON      "",IDCANCEL,195,192,75,14
    EDITTEXT        IDE_MESSAGE,10,10,260,169,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
    CONTROL         "",IDC_SEPARATOR,"Static",SS_ETCHEDHORZ | WS_GROUP,4,187,272,1
END

#ifdef EXT_VER

IDD_PASSWORD DIALOGEX 10, 10, 274, 77
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Parola"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Fisierul e criptat, va rugam introduceti parola si apasati OK.",-1,17,7,215,8,NOT WS_GROUP
    LTEXT           "Fisier:",-1,17,21,26,8,NOT WS_GROUP
    LTEXT           "",IDC_FILE,55,21,201,8,NOT WS_GROUP
    LTEXT           "&Parola:",-1,17,35,36,8
    EDITTEXT        IDC_PASSWORD,55,33,201,12,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,15,56,55,14,WS_GROUP
    PUSHBUTTON      "&Sari Peste",IDC_SKIP,78,56,55,14
    PUSHBUTTON      "S&ari Peste Tot",IDC_SKIPALL,141,56,55,14
    PUSHBUTTON      "Anuleaza",IDCANCEL,204,56,55,14
END

#endif //EXT_VER
